<%- include('header') %>

<section class="dash-inner-sec">
     <div class="row">
             <div class="col-lg-6 col-md-12">
                 <div class="dashboard-box" style="height: 100%;">
                   <div class="create-wallet-block">
                           
                            <h3 class="main-heading">Congratulations! </h3> 
                          
                           <p class="head-commn-text">Your wallet is created.</p>

                            <h4 class="green-heading">Here is your wallet address.</h4>

                          <div class="input-group input-dash copy-id-dash">
                             <input class="form-control" type="text" placeholder="" value="2798ehgdgdsffsfsfighj9832q787ysuueh">
                             <a href=""><i class="fa fa-copy"></i></a>
                             
                        </div>

                          <div class="clearfix note-line">
                            <span class=""><b><i class="fa fa-info-circle"></i> Make sure you keep the wallet address safe.</b></span>
                          </div>

                          <div class="text-center">
                              <a href="/dashboard" class="btn btn-common light-green">Continue</a>
                          </div>
                        </div>
                 </div>
             </div>
             <div class="col-lg-6">
               <div class="img-box-side">
                 <img src="assets/images/wallet-img.jpg" class="img-fluid">
               </div>
             </div>
        </div>
</section>



<%- include('footer') %>